* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: relative;
}

header + * {
  margin-top: 2rem;
}

h4 {
  font-weight: normal;
}

p, .content ul, .content ol, h4, time {
  font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;;
  color: #727272;
  line-height: 1.75em;
  text-align: center;
}

p + p {
  margin-top: 1rem;
}

.content-container {
  position: relative;
  margin: 0 auto;
}

.content, .content-container p {
  a, a:visited, a:hover {
    text-decoration: none;
    color: #08a1f4;

    &.rss-button {
      display: table;
      color: #727272;

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  a:hover {
    border-bottom: 1px dotted #14884c;

    &.rss-button {
      border: none;
    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    > a, > a:visited, > a:hover {
      border-bottom: none;
      color: #1bb45e;
    }
  }

  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  p + *, h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + *, ul + *, ol + * {
    margin-top: 2rem;
  }

  * + h2, * + h3 {
    margin-top: 3rem;
  }

  h1 + h2 {
    margin-top: 2rem;
  }

  li + li {
    margin-top: 1rem;
  }

  table {
    width: 100%;
    font-family: 'Montserrat-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 1.125rem;
    > caption {
      padding: 0.5rem;
      border: 1px solid #cccccc;
      border-bottom: 0;
      background-color: #f2f2f2;
    }
    > thead {
      background-color: #f2f2f2;
    }
    th {
      color: #5a5a5a;
      font-weight: normal;
      text-align: center;
    }
    th, td {
      padding: 0.5rem;
      border: 1px solid #cccccc;
      vertical-align: top;
    }
  }

  code, pre {
    padding: 0.25rem;
    color: #5a5a5a;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    border-radius: 2px;
  }

  pre {
    padding: 0.75rem;
    display: block;
    overflow-x: auto;
    white-space: pre;
  }

  section + section {
    margin-top: 2rem;
  }
}

.mnav {
  position: relative;
  display: -webkit-flex;
  display: flex;
  z-index: 2;

  font-family: "League Spartan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #1bb45e;

  &:before, &:after {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    content: " ";
  }

  > ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;

    list-style: none;

    > li.brand {
      text-align: left;
      color: #1eb45d;
      img {
        height: 2em;
        vertical-align: middle;
      }
    }

    > li.spacer {
      &:before {
        display: block;
        content: " ";
      }
      -webkit-flex-grow: 30;
      flex-grow: 30;
    }

    > li {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      text-align: center;

      > a, > a:active, > a:visited {
        display: block;
        color: inherit;
        text-decoration: none;
      }
    }

    > li.item {
      &:hover {
        background-color: #c2c2c2;
        border-color: #c2c2c2;
        color: #ffffff;
      }

      &.active {
        background-color: #1eb45d;
        border-color: #1eb45d;
        color: #ffffff;
      }

      &.btn {
        background-color: transparent;
        > a {
          padding: 0.88em 1.36em;
          padding-top: 0.82em;
          border-radius: 1.82em;

          display: inline;
          background-color: #1bb45e;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}
